{
  "extends": "eslint-recommended",
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ]
  }
}
